<div class="container">
  <mdb-card class="border border-warning-dark">
    <mdb-card-body class="special-color">
      <img class="float-right" src="{{this.env.strapiUrlPrefix}}{{this.competition.image.url}}">
      <div class="float-left text-white">
        <h3>{{competition.name}}</h3>
        <h4>{{competition.description}}</h4>
        <hr class="hr-warning-dark">
        <h4>{{competition.registrations.length}} Competitors</h4>
        <h4>{{competition.games.length}} Games Played</h4>
        <h4>{{prettyStartDate}} thru {{ prettyEndDate}}</h4>
        <h4>Open for Registrations: {{competition.is_open}}</h4>
        <h4>Currently Running Games: {{competition.is_running}}</h4>
        <h4>Team Members Allowed: {{competition.min_num_team_members}} - {{competition.max_num_team_members}}</h4>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>>
