/* You can add global styles to this file, and also import other style files */
// colors
$primary-color: #4285F4;
$danger-color: #ff4444;
$warning-color: #ffbb33;
$success-color: #00C851;
$info-color: #33b5e5;
$default-color: #2BBBAD;
$secondary-color: #aa66cc;
$elegant-color: #2E2E2E;
$stylish-color: #4B515D;
$unique-color: #3F729B;
$special-color: #37474F;

$primary-color-dark: #0d47a1;
$danger-color-dark: #CC0000;
$warning-color-dark: #FF8800;
$success-color-dark: #007E33;
$info-color-dark: #0099CC;
$default-color-dark: #00695c;
$secondary-color-dark: #9933CC;
$elegant-color-dark: #212121;
$stylish-color-dark: #3E4551;
$unique-color-dark: #1C2331;
$special-color-dark: #263238;


body {
  height: 91vh;
  margin-top: -55px;
  margin-bottom: 90px;

  background-color: $stylish-color-dark;
}


// Custom HR
.hr-info {
  border-top: 1px solid $info-color;
}

.hr-info-dark {
  border-top: 1px solid $info-color-dark;
}

.hr-success {
  border-top: 1px solid $success-color;
}

.hr-success-dark {
  border-top: 1px solid $success-color-dark;
}

.hr-warning {
  border-top: 1px solid $warning-color;
}

.hr-warning-dark {
  border-top: 1px solid $warning-color-dark;
}

.hr-danger {
  border-top: 1px solid $danger-color;
}

.hr-danger-dark {
  border-top: 1px solid $danger-color-dark;
}

.hr-default {
  border-top: 1px solid $default-color;
}

.hr-default-dark {
  border-top: 1px solid $default-color-dark;
}

.hr-primary {
  border-top: 1px solid $primary-color;
}

.hr-primary-dark {
  border-top: 1px solid $primary-color-dark;
}

.hr-secondary {
  border-top: 1px solid $secondary-color;
}

.hr-secondary-dark {
  border-top: 1px solid $secondary-color-dark;
}

// Custom Borders
.border-info-dark {
  border-color: $info-color-dark !important;
}

.border-danger-dark {
  border-color: $danger-color-dark !important;
}

.border-warning-dark {
  border-color: $warning-color-dark !important;
}

.border-success-dark {
  border-color: $success-color-dark !important;
}

.border-default-dark {
  border-color: $default-color-dark !important;
}

.border-primary-dark {
  border-color: $primary-color-dark !important;
}

.border-secondary-dark {
  border-color: $secondary-color-dark !important;
}
.border-elegant {
  border-color: $elegant-color !important;
}
.border-stylish {
  border-color: $stylish-color !important;
}
.border-unique {
  border-color: $unique-color !important;
}
.border-special {
  border-color: $special-color !important;
}


.border-elegant-dark {
  border-color: $elegant-color-dark !important;
}
.border-stylish-dark {
  border-color: $stylish-color-dark !important;
}
.border-unique-dark {
  border-color: $unique-color-dark !important;
}
.border-special-dark {
  border-color: $special-color-dark !important;
}
